@tailwind base;
@tailwind components;
@tailwind utilities;



html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue,
    helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  font-size: 16px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  @apply text-white bg-gray-700 dark:text-zinc-50 dark:bg-zinc-900;
}
